<!-- Bottom Navigation -->
 <footer>
    <nav class="navbar fixed-bottom " style="background-color: #e3f2fd;">
      <div class="container-fluid">
      <h6>&copy; Copyright Wen Xu All Rights reserved </h6>
      </div>
  </nav>
</footer>