<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>

<main >
<div class="container">
<img id="idPhoto" src="Assets/images/idphoto.jpg" width="220" height="280" alt="Wen Xu" ></a>
            <h2 class="h2title">Information</h2>
            <p class="h2content"> Name:Wen Xu</p>
            <p class="h2content"> Location:Toronto, ON, Canada</p>
            <p class="h2content">College:Centennial College</p>
            <p class="h2content">Address:27 Maple Ridge Crescent Markham, Ontario, L6E 1V3</p>
            <p class="h2content">Cellphone: 647-303-6613</p>
            <p class="h2content">Email:wxu63@my.centennialcollege</p>
            <p class="h2content" > Resume Link:<a href="Resume.pdf">Resume</a></p>
            <h2 class="h2title">Profile</h2>
            <p class="h2content"> I am a motivated and driven software engineering technician graduate with 4 years of experience in project management and public relations in an IT company. I have worked for dozens of projects that helped me to adapt to the changes quickly. I am able to work well both in a team environment as well as using own initiative. I am also skilled in multitasking, time management, risk control, problem solving. My inter-disciplinary educational background, different work experiences along with my trilingual skills in (English, Mandarin and Cantonese) prove that I’m an excellent employee.</p>
</div>
</main>
  
<%- include ('partials/bottom_nav.ejs') %>  

<%- include ('partials/footer.ejs') %>