<% import partials/header.ejs%>
<% import partials/main_nav.ejs%>


  
  
 <main >
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
  <h1 class="display-4">Welcome to the <%= title %> page</h1>
  <p class="lead">......</p>
</div>
</div>
 </main>
  
  
<% import partials/bottom_nav.ejs%>
  <% import partials/footer.ejs%>
