<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>

<main >
  <div class="container">
    <h2 class="h2title">Welcome</h2>
    <p class="h2content">Welcome to my website, my name is Wen Sophie Xu.I am currently a software engineering student at centennial college. Please feel free to explore my website.</p>
    <h2 class="h2title">Mission Statement</h2>
    <ul class="h2content">
        <li>If you wish to succeed, you should use persistence as your good friend, experience as your reference, prudence as your brother and hope as your sentry.</li>
        <li>Will, work and wait are the pyramidal cornerstones for success.</li>
        <li>To travel hopefully is a better thing than to arrive,and the true success is to labor.</li>
        <li>Only those who have the patience to do simple thing perfectly ever acquire the skill to do difficult things easily.</li>
    </ul>
  </div>
 </main>


  
<%- include ('partials/bottom_nav.ejs') %>  

<%- include ('partials/footer.ejs') %>
