/* custom css */
/* File name:COM229-M2021-Assignment2
Student’s Name: Wen Xu
 StudentID: 301098127
  Date:2021-06-18  
   */

body {background-image:url("/Assets/images/background3.jpg")}
/*
Full Name:Wen Xu
 Student ID:301098127 
 Course Code:COMP229
 Course Name: Web Application development
 Assignment:Assignment1 for COMP229 - portfolio site
 last modification: 3rd, June
 version:1.0.0
*/
#idPhoto {
    float:right;margin-left:8px;margin-bottom:6px
  }

  .table{
    width: 100%;
    border-left-width: 0px;
	  border-top-width: 0px;
	  border-bottom-width: 0px;
  }

  .tabledata{
    border-style:solid;
	  border-width: 2px;
  }

  .project{
    width: 600px;;
    height: 350px;;
    border-width: 0px;
  }
 
  .h2title {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #0b0f66;
  }
  .h2content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: justify;
  }
.navbar-brand{ text-decoration-color:grey}

.input-group-addon:first-child
{
    border-right: 0;
}

.input-group-addon
{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    border: 1px solid darkgrey;
    border-radius: 4px; 
}

.input-group-addon .fa
{
    font-size: 18px;
}

.input-group .form-control
{
    position:relative;
    z-index: 2;
    float:left;
    margin-bottom: 0;
}

.input-group .form-control:last-child
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}



.login
{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: lightgrey;
    border-radius: .3rem;
}

.login input
{
    background-color: white;
    border-color: darkgrey;
    border-radius: .4em;
    width: 100%;
}

.edit-task
{
    position: relative;
    top: -31px;
    display: none;
}

