
<!--header-->
<header><%- include ('partials/header.ejs') %></header>
<!-- head navigation-->
<%- include ('partials/main_nav.ejs') %>
<main > </main>
  <!--foot navigation-->
<%- include ('partials/bottom_nav.ejs') %>  
<!--footer-->
<footer><%- include ('partials/footer.ejs') %></footer>

